@media screen and (max-width: 600px) {
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;

  }
  .navbar-brand{
    display: none!important;
  }
}

.navbar .icon {
    display: none;
}
.navbar {
    background-image: url(https://i.imgur.com/qQy3tVV.png);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    line-height: 1.7em;
}
.l-box {
    padding: 1em;
}
.header {
    margin: 0 0;
}
.header .pure-menu {
    padding: 0.5em;
}
.header .pure-menu li a:hover,
.header .pure-menu li a:focus {
    background: none;
    border: none;
    color: #aaa;
}
body .primary-button {
    background: white;
    color: #fff;
}
.splash {
    margin: 2em auto 0;
    padding: 3em 0.5em;
    background: #eee;
}
.splash .splash-head {
    font-size: 300%;
    margin: 0em 0;
    line-height: 1.2em;
}
.splash .splash-subhead {
    color: #999;
    font-weight: 300;
    line-height: 1.4em;
}
.splash .primary-button {
    font-size: 150%;
}
.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}
.content .content-ribbon {
    margin: 3em;
    border-bottom: 1px solid #a5d6d2;
}
.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
.ribbon h2 {
    display: inline;
    font-weight: normal;
}
.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}

.logo{
  position: relative;
  top: -10px;
  left: 10px;
  border-radius:100%;
  width:350px;
  height:auto;
}

.capa{
position: relative;
top: 30px;
left: 65px;
width:700px;
height:auto;
}

.Servicos{
font-size:50px;
font-family: times;
position: relative;
top: 50px;
left: 280px;
}

.Barra{
position: relative;
top: 00px;
border-color: grey;
border-top-width: 1spx;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
}

.Barra2{
position: relative;
top: -16px;
border-color: grey;
border-top-width: 1spx;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
}

.texto{
  color:#097b7c;
font-family: 'Montserrat', sans-serif;
}

.logo{position: relative; top: -02%;left: 5%;border-radius:100%;width:350px;height:auto;}
.capa{position: relative; top: 06%;left:10%;width:100%; height:auto;}

  @media screen and (max-width: 768px) {
    .capa{
      width:80%;height:auto;
      margin-top: : auto;
      margin-bottom: : auto;
      margin-left: +00%;
      }
    .logo{
      width:200px;height:auto;
      margin-top: : auto;
      margin-bottom: : auto;
      margin-left: 55%;
    }
}
#subirTopo{
    text-decoration: none;
  
    
    bottom: 45px;
    right: 150px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: -2px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    border: 0;
    font-family: sans-serif;
    opacity: .8;
    z-index: 100;
    margin-right: -100px;
  
  }
  #subirTopo:hover {
    opacity:1;
    }
#bg{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.8);
        position: fixed;
        display: none;
    }
#bg:target{
        display: block;
    }
#bg:target ~ .box{
    top:500px;
    transition: all .3s;
    transition-delay: .2s;
}
.box{
        width: 720px;
        height: 405px;
        position: absolute;
        margin-left: -360px;
        left: 50%;
        top: -700px;
}
.box img{
    width: 100%;
    position: absolute;
    margin-bottom: 10%;
    z-index: 100;
}
#close{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    background-color: grey;
    width: 30px;
    height: 30px;
    text-align: center;
    right: 0;
    z-index: 100;
}
#close:hover{
    opacity: .6;
}
#bg2{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    display: none;
}
#bg2:target{
    display: block;
}
#bg2:target ~ .box2{
top:800px;
transition: all .3s;
transition-delay: .2s;
}
.box2{
    width: 720px;
    height: 405px;
    position: absolute;
    margin-left: -360px;
    left: 50%;
    top:-700px;
}
.box2 img{
width: 100%;
position: absolute;
margin-bottom: 10%;
z-index: 100;
}
#close2{
color: #fff;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
font-size: 20px;
position: absolute;
background-color: grey;
width: 30px;
height: 30px;
text-align: center;
right: 0;
z-index: 100;
}
#close2:hover{
opacity: .6;
}
#bg3{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    display: none;
}
#bg3:target{
    display: block;
}
#bg3:target ~ .box3{
top:1100px;
transition: all .3s;
transition-delay: .2s;
}
.box3{
    width: 720px;
    height: 405px;
    position: absolute;
    margin-left: -360px;
    left: 50%;
    top:-700px;
}
.box3 img{
width: 100%;
position: absolute;
margin-bottom: 10%;
z-index: 100;
}
#close3{
color: #fff;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
font-size: 20px;
position: absolute;
background-color: grey;
width: 30px;
height: 30px;
text-align: center;
right: 0;
z-index: 100;
}
#close3:hover{
opacity: .6;
}
#bg4{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    display: none;
}
#bg4:target{
    display: block;
}
#bg4:target ~ .box4{
top:1500px;
transition: all .3s;
transition-delay: .2s;
}
.box4{
    width: 720px;
    height: 405px;
    position: absolute;
    margin-left: -360px;
    left: 50%;
    top:-700px;
}
.box4 img{
width: 100%;
position: absolute;
margin-bottom: 10%;
z-index: 100;
}
#close4{
color: #fff;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
font-size: 20px;
position: absolute;
background-color: grey;
width: 30px;
height: 30px;
text-align: center;
right: 0;
z-index: 100;
}
#close4:hover{
opacity: .6;
}
#bg5{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    display: none;
}
#bg5:target{
    display: block;
}
#bg5:target ~ .box5{
top:1800px;
transition: all .3s;
transition-delay: .2s;
}
.box5{
    width: 720px;
    height: 405px;
    position: absolute;
    margin-left: -360px;
    left: 50%;
    top:-700px;
}
.box5 img{
width: 100%;
position: absolute;
margin-bottom: 10%;
z-index: 100;
}
#close5{
color: #fff;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
font-size: 20px;
position: absolute;
background-color: grey;
width: 30px;
height: 30px;
text-align: center;
right: 0;
z-index: 100;
}
#close5:hover{
opacity: .6;
}